.dashboard-page-title{
    background-color: rgb(254,254,254);
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    color: #323a46;
    padding: 15px 0 15px 6px;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}