.password-reset{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centred-segment{
    background-color: rgb(54, 0, 0);
    color: whitesmoke;
    margin: 0 auto !important;
    width: 30em;
    padding: 2px;
    border-radius: 4px;
}

.content-segment{
    margin: 25px;
}

.logo-banner{
    background-color: whitesmoke;
    border-radius: 10px;
}

.kabarak-logo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.reset-page-logo{
    height: auto; 
    width: 100%;
}