.password-reset{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centred-segment{
    background-color: rgb(54, 0, 0);
    color: whitesmoke;
    margin: 0 auto !important;
    width: 25em;
    padding: 2px;
    border-radius: 4px;
}

.content-segment{
    margin: 25px;
}

.logo-banner{
    background-color: whitesmoke;
    border-radius: 20px;
}

.kabarak-logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}



.name{
    height: auto;
    width: 100%;
    padding: 10px;
    max-width: 95%;

}

hr{
    margin: 25px 0 0 0;
}