.change-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}

.change-password-form{
    padding: 20px 0 0 0;
    width: 100%;
    max-width: 100;
}

.change-password-form label{
    font-weight: bold;
    font-size:15px;
    margin-bottom:10em; 
}

.change-password-form input{
    border: none;
    text-transform: uppercase;
    border: none;
    padding: 11px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 15px 0;
    color: #6c757d;
}

.change-password-form input::placeholder{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.705);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.new-password, .repeat-password{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 13px 0 0 0;
}

.change-passwd-sbmt-btn{
    padding: 0 0 45px 0;
}