.sidebar-content{
    padding: 25px 0 0 17px;
    transition:.1s ease;
}

.min-sidebar-content{
    padding-top: 0;
}

.sidebar-content li{
    list-style-type: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size:14px;
    margin: 20px 0 0 5px;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: .1s ease;
}

.min-sidebar-content li{
    margin-bottom: 36px;
}

.sidebar-content li:hover{
    color: rgb(0,174,238);
    cursor: pointer;
}

.sidebar-menu-category{
    margin: 0 0 24px 0;
    width: 100%;
}

.sidebar-content li i{
    width: 15%;
    font-size: medium;
}

.sidebar-menu-item{
    width: 85%;
    transition: .1s ease;
}

.hide-sidebar-menu-item{
    display: none;
}

.sidebar-menu-title{
    text-transform: uppercase;
    color: rgb(0,174,238);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
     Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    font-weight: bold;
    width: 10%;
    transition: .1s ease;
}

.hide-sidebar-menu-title{
    display: none;
}

.sidebar-footer{
    max-width: 100%;
    color: white;
    background-color: rgb(153,49,51);
    position: sticky;
    bottom: 0;
    height: 15px;
}
