.sidebar-content{
    padding: 25px 0 0 17px;
}

.sidebar-content li{
    list-style-type: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size:14px;
    margin: 20px 0 0 5px;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar-content li:hover{
    color: rgb(0,174,238);
    cursor: pointer;
}

.sidebar-menu-title{
    margin: 0 0 25px 0;
    width: 100%;
}

.sidebar-content li i{
    width: 15%;
}

.sidebar-menu-item{
    width: 85%;
}

.sidebar-menu-title label{
    text-transform: uppercase;
    color: rgb(0,174,238);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
     Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    font-weight: bold;
    width: 10%;
}

.sidebar-footer{
    max-width: 100%;
    color: white;
    background-color: rgb(153,49,51);
    position: sticky;
    bottom: 0;
    height: 15px;
}
