.page-header{
    background-color: rgb(98,174,80);
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
}

.section-separation{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar-section{
    max-height: 300%;
    background-color: rgb(153,49,51);
    left: 0;
    width: 15%;
    transition: .1s ease;
}

.min-sidebar-section{
    width: 4.5%;
}

.content-section{
    background-color: rgb(222,231,245);
    max-height: 100%;
    width: 85%;
    transition: .1s ease;
}

.max-content-section{
    width: 95.5%;
}


