
#main-container{
  background-image: url("./kaba-backround-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.login-form{
  padding: 20px 0 0 0;
  width: 100%;
  max-width: 100;
}

.login-form label{
  font-weight: bold;
  font-size:15px;
  margin-bottom:10em;
}

.login-form input{
  border: none;
  text-transform: uppercase;
  border: none;
  padding: 11px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 15px 0;
  color: #6c757d;
}

.login-form input::placeholder{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.705);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.password{
  position: relative;
}

.password i {
  position: absolute;
  right: 0;
  color: gray;
  top: 13px;
  padding: 0 15px 0 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  line-height: 36.5px;
}

.remember-me{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom:0 !important ;
  padding-bottom: 0 !important;
}

.remember-me input{
  width: 15px;
  margin:0 10px 0 0;
  border-radius: 50px;
  border: none;
}

input[type=checkbox]{
  accent-color: rgb(59,175,218);
}

.remember-me span{
  margin: -4px 0 0 -2px;
}

.sub-btn-div{
  margin: 38px 0 0 0;
}

#forgot-password-link{
  text-decoration: none;
    color: rgb(59,135,53)
}

.password-reset-link{
  margin: -1px 0 0 0;
}
